{{ define "main" }}
<section class="single">
  <div class="container">
    <div class="lead column is-10 is-offset-1">
      <h1 class="title">
        <span>{{ .Title }}</span>
        {{ if .Params.source }}
          {{ $sized := readFile (printf "%s.gz" (replace .Params.source "src" "dist")) }}
          <span class="tags has-addons is-inline-flex">
            <span class="tag is-dark">gzip</span>
            <span class="tag is-success">{{- div (len $sized) 1000.0 | lang.NumFmt 2 }} kB</span>
          </span>
        {{ end }}
      </h1>
      <article>
        {{ if .Params.page }}
          {{ partial .Params.page . }}
        {{ else }}
          <!-- Render content normally -->
        {{ end }}

        {{ .Content }}

        {{ if .Params.source }}
          <div class="source-code content">
            <h2 class="title">Source code</h2>
            <!-- CODE EXAMPLE ———————————————————————————————————————— -->
            <pre class="code-example"><code class="code-example-body language-js">
              {{- readFile .Params.source -}}
            </code></pre>
          </div>
        {{ end }}
      </article>
    </div>
  </div>
</section>
{{ end }}
