body {

}

h1 {
  margin-top: 6rem;
  text-align: center;
}

my-app {
  display: block;
  padding: 1em;
}

/*hello-world {
  display: block;
  background-color: #d1dbbd;
  color: #000;
  padding: 1em;
}
*/
