s-counter {
  display: block;
  width: 30%;
  margin: 0 auto;
}

my-app {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.logo {
  width: auto;
  height: 23px;
  margin-top: -3px;
}

.lead {
  padding: 3rem;
}

.lead > .title {
  margin: 2em 1em;
  text-align: center;
  font-size: 2rem;
}

.source-code {
  margin-top: 8rem;
}

pre.code-example {
  padding: 1.5em;
  margin-bottom: 3rem;
}

code.code-example-body {
  background: none;
  padding: 0;
  border: none;
}

.content .tag, .content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

.title .tags {
  vertical-align: 0.21em;
  margin-left: 5px;
}
